---
---
@import "normalize";
@import "Color";
@import "Base";
@import "Blockquote";
@import "Button";
@import "Code";
@import "Divider";
@import "Form";
@import "Grid";
@import "Link";
@import "List";
@import "Spacing";
@import "Table";
@import "Typography";
@import "Utility";
@import "highlight";

.site-title {
    margin-bottom: 4rem;
}
.post-list {
    margin-top:4rem;
}

.ripped-off-style-bar {
    background-color: $color-primary;
    height:10px;
}
.text-center {
    text-align: center;
}
footer {
    background-color: $color-primary;
    height:50px;
    line-height: 50px;
    color: $color-tertiary;
}